<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book_app/css/view_book.css' %}">
</head>
<body>
    <div id="main_container">
        <div id="header">
            <h1>Welcome {{  this_user.first_name  }}</h1>
            <a id="logout" href="/logout">Logout</a>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if this_book.uploaded_by.id == this_user.id %}
        <div id="container1">
            <form action='/update/{{this_book.id}}' method="POST">
            {% csrf_token %}
                <div class="form-group row">
                    <input type="text" class="form-control" id="title" name="title" value="{{this_book.title}}">
                </div>
                <p>Added By: {{  this_user.first_name  }} {{  this_user.last_name  }}</p>
                <p>Added On: {{  this_book.created_at  }}</p>
                <p>Last updated on: {{  this_book.updated_at  }}</p>
                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea id="description" name="description">{{this_book.description}}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <a href="/delete"><button type="submit" id="delete" class="btn btn-primary">Delete</button></a>
                    </div>
                </div>
            <a id="back" href="/books">Back to Main Page</a>
        </div>
        <div id="container2">
            <h3>Users Who Like This Book:</h3>
            {% for user in this_book_favorite_users %}
                {% if this_user == user %}
            <ul>
                <li>{{this_user.first_name}} {{this_user.last_name }}   <a href="/unfavorite/{{this_book.id}}">(Unfavorite)</a></li>
                {% else %}
                <li>{{ user.first_name }} {{ user.last_name }}</li>
            </ul>
                {% endif %}
            {% if this_user not in this_book_favorite_users %}
            <a href="/favorite1/{{this_book.id}}">Add to Favorites</a>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div id="container1">
            <div class="form-group row">
                <h4>{{this_book.title}}</h4>
            </div>
            <p>Added By: {{  this_book.uploaded_by.first_name  }} {{  this_book.uploaded_by.last_name  }}</p>
            <p>Added On: {{  this_book.created_at  }}</p>
            <p>Last updated on: {{  this_book.updated_at  }}</p><br>
            <p>Description: </p>
            <p>{{  this_book.description  }}</p>
            <a id="back" href="/books">Back to Main Page</a>
        </div>
        <div id="container2">
                <h3>Users Who Like This Book:</h3>
                {% for user in this_book_favorite_users %}
                    {% if this_user == user %}
                <ul>
                    <li>{{this_user.first_name}} {{this_user.last_name }}   <a href="/unfavorite/{{this_book.id}}">(Unfavorite)</a></li>
                    {% else %}
                    <li>{{ user.first_name }} {{ user.last_name }}</li>
                </ul>
                    {% endif %}
                {% endfor %}
                {% if this_user not in this_book_favorite_users %}
                <a href="/favorite1/{{this_book.id}}">Add to Favorites</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</body>
</html>