#container1{
    width: 500px;
    height: 800px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
}
#container2{
    width: 500px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    margin-left: 230px;
    margin-top:70px;
    font: 10pt;
}
.messages{
    color: red;
}
